body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  display: flex;
  width: 1200px;
  margin: 20px auto;
  background-color: #bbbab9;
  border-radius: 10px;
}

.text-content {
  margin-left: 20px;
}

.text-content p {
  margin: 5px;
  padding: 5px;
}

.card-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 400px;
  height: auto;
}